{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/core.async {:mvn/version "1.8.741"}
        http-kit/http-kit {:mvn/version "2.8.0"}}

 :aliases {:run {:main-opts ["-m" "clojure-card-games.main"]}
           :karbosh-server {:main-opts ["-m" "clojure-card-games.karbosh.server"]}
           :karbosh-cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.12.134"}}
                          :main-opts ["-m" "cljs.main"
                                      "-co" "build/karbosh.cljs.edn"
                                      "-c" "clojure-card-games.karbosh.client"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :prob {:main-opts ["-m" "clojure-card-games.probability.hypergeom"]}}}
